*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
/* Navbar section start  */

html{
    /* font-size:62.5%; */
    /* 1rem=10px */
    overflow-x:hidden;
}
body{
    overflow-x:hidden; 
}

.header{
    padding:0 40px;
    height:100px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #fff;
    box-shadow: 11px 15px 29px 0 rgb(48 48 48 / 7%);
    position:fixed;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight:400;

}

.header .logo{
    width:150px;
}
.navbar-list{
    display:flex;
    gap:40px;
    list-style:none;
}

.navbar-link:link,
.navbar-link:visited{
    display:inline-block;
    text-decoration:none;
    font-size:20px;
    font-weight: 500;
    color:#212529;
    transition:all 0.2s;
}

.navbar-link:hover,
.navbar-link:active{
    color:#364fc7;
}

.mobile-nav-icon{
    width:30px;
    height:30px;
    color:#212529;
}

.mobile-navbar-btn{
    background:transparent;
    cursor:pointer;
}

.mobile-nav-icon[name="close-outline"]{
    display:none;
}


.navbar .navigation-button{
    float:right;
    position: absolute;
    top:0;
    right: 80px;
}


.navbar .navigation-button-a{
    width:80px;
    height:70px;
    padding:10px;
    margin:20px;
    font-size:14px;
    font-weight:600;
    transition: all .3s linear;
}
.navbar .navigation-button-a:hover{
    background-color:blue;
    color:#dddddd;
}
.navbar .navigation-button-b:hover{
    background-color:#dddddd;
    color:blue;
}

.navbar .navigation-button-b{
    width:150px;
    height:70px;
    background-color:blue;
    border:none;
    color:white;
    font-size:14px;
    font-weight:600;
    transition: all .3s linear;
}




/* Responsive codes */

/* 980px  */



/* Navbaar section end */

/* Main section start */
.main-section-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-section-start{
    border:1px solid hsla(120, 100%, 25%, 0.295);
    width: 1087.19px;
    height: 5368px;
    outline:1px solid hsla(120, 100%, 25%, 0.295);
    outline-offset:40px;
    margin-top:145px;
    margin-bottom:40px;
}
 
/* contact section start  */
.contact-section{
     margin-left:auto;
     margin-right:auto;
     width:1087.19px;
     height:1202px;
     background-color:#000;
}

.inline-element{
   display:flex;
   justify-content:center;
   align-items:center;
   height:100px;
}

.inline-element img{
    width:200px;
    height:40px;
    outline-offset: 40px;
    margin-top:40px;
}

.inline-element-headin{
    display:flex;
    justify-content:center;
}

.contact-section h1{
    width:689.94px;
    font-size:82px;
    color: rgb(255, 255, 255);
    font-weight:600;
    text-align:center;
    margin-top: 20px;
}

.multiple-contact-section {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:1087.19px;
    height:700px;
}

.container-multiple-contact-section .multiple-contact-section .form-section form{
    color:white;
    padding-right:80px;
}

.container-multiple-contact-section .multiple-contact-section .form-section form input ,select{
    width:286px;
    height:34px;
    margin-bottom:20px;
    border:1px solid #dddddd;
    border-radius:10px;
    margin-top:6px;
    padding-left: 10px;
}

.multiple-contact-section .form-section button{
    background: rgba(0,192,153,1);
    border:none;
    font-weight:600;
    margin-top:10px;
    cursor:pointer;
    width:286px;
    height:34px;
    border-radius:10px;

}
.multiple-contact-section img{
    width:494px;
    height:668px;
}
.container-multiple-contact-section .multiple-contact-section-paragraph{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-multiple-contact-section p{
    color: rgb(255, 255, 255);
    font-size:24px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-weight:300;
    width:750.45px;
    height:90px;
}
/* contact section end  */

/* container album images start  */
.container-album-images .album-images{
    width:1087.97px;
    height:568px;
    background-color:rgba(245, 245, 245, 1);
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.container-album-images .album-images .small-images-part{
    width:25%;
    height:290px;
    background-color:white;
}
.container-album-images .album-images .small-images-part p , h2{
    text-align:center;
}
.container-album-images .album-images .small-images-part p{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    padding:15px;
}

.container-album-images .album-images .small-images-part img{
    padding:10px 85px;
}
/* conatainer ablum images end  */

/* container hill image and hill-paragraph section start  */
.container-hill-img-para-section .hill-img-para-section{
    width:1087.97px;
    height:628px;
    background-color: rgba(0,0,0,0);
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.hill-img-para-section .hill-paragraph-section{
    width:40%;
    height:500px;
}
.hill-img-para-section .hill-paragraph-section p{
    font-family: 'Roboto', sans-serif;
    padding-bottom:20px;
    font-size: 16px;
    font-weight:300;
    font-style:normal;
}

.hill-img-para-section .hill-paragraph-section h3{
    font-size:35px;
    text-align:center;
    padding-top:40px;
    padding-bottom:20px;
    word-spacing:15px;
}
 /* container hill image and hill-paragraph section end  */


/* four images and heading section start  */
.container-diffrent-web-material .diffrent-web-material{
    width:1087.97px;
    height:310px;
    background-color: rgba(22, 157, 60, 0.8);
}

.container-diffrent-web-material .diffrent-web-material p{
    font-family: 'Nunito', sans-serif;
    font-size:20px;
    color: rgb(255, 255, 255);
    font-style:normal;
    font-weight:600;
    text-align:center;
    padding-top:100px;
    padding-bottom:20px;
}

.container-diffrent-web-material .diffrent-web-material div{
    /* line-height: 310px; */
    padding-left: 50px;
}
.container-diffrent-web-material .diffrent-web-material div img{
    padding:0 50px;
}
/* four images and heading section end  */

/* youtube video section start  */
.video-nature-video{
    width:1087.97px;
    height:924px;
    display:flex;
    justify-content: center;
    text-align:center;
}

.video-nature-video div{
    width: 850px;
    height:924px;
}

.video-nature-video .sortpga{
    font-size:40px;
    padding-top:100px;
    padding-bottom:30px;
    word-spacing:5px;
}
.video-nature-video .sortpgab{
    font-weight:100;
    padding-bottom:50px;
    font-size:17px;
}

.video-nature-video iframe{  
   margin-top:20px;
}
/* youtube section end  */


/* women image section start  */
.women-image{
    width:1087.97px;
    height:518px;
    background-image:url('./image.png/background\ nature\ image.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items:center;
}

.women-image div{
    width:800px; 
    height:300px;
    text-align:center;
}

.women-image div img{
    padding:10px;
}

.women-image div .real-name-paragraph{
    padding-top:40px;
    font-size:36px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-style:italic;
    color: rgb(48, 48, 48);
}
/* women image section end  */

/* conatiner details offer section start  */
.container-details-offers .details-offers{
    width:1087.97px;
    height:668px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.container-details-offers .details-offers .detaila-offers-child{
    width:600px;
    height:600px;
}

.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph img{
    width:40px;
    height:40px;
}
.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph span{
    font-weight:600;
    font-size:25px;
}
.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph .more-details-paragraph{
    text-align:center;
    padding:60px 10px;
    font-size:36px;
    word-spacing:5px;
    font-weight:900;
}

.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph{
    padding-bottom:35px;
}

.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph p{
    font-size:17px;
    padding-left:42px;
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    color: rgb(21, 47, 46);
    font-weight:300;
}
/* conatiner details offer section end  */

/* conatainer final section start  */
.container-final-call-action{
    width:1087.97px;
    height:463px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(25, 28, 26);
}

.container-final-call-action .final-call-action{
    width:650px;
    height:350px;
    text-align:center;
    color:rgb(255, 255, 255);
    padding-top:30px;
}
.container-final-call-action .final-call-action h5{
    font-size:36px;
    font-weight:600;
    word-spacing:5px;
    padding-bottom:35px;
    padding-top:50px;
}

.container-final-call-action .final-call-action p {
    font-size:17px;
    padding-bottom:35px;
    font-weight:300;
    font-family: 'Roboto', sans-serif;
}
.container-final-call-action .final-call-action button {
    padding:12px 50px;
    text-decoration:none;
    color:white;
    background-color:rgba(0, 138, 63, 1);
    border:none;
    border-radius:10px;
}

.container-final-call-action .final-call-action button a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-weight:600;
    font-size:17px;
}
/* container final section end  */

/* footer section start  */
.footer{
    width:1087.97px;
    height:85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .img{
    float:left;
    margin:20px 40px;
}

.footer p{
    float:right;
    font-weight: 300;
}
/* footer section end  */




/* main section end */


/* media query start */
@media (max-width:1200px){

    .navbar-list a{
        font-size:50px;
    }
    
    .navbar-list {
        padding-right:10px;
    }

    .navbar .navigation-button .navigation-button-b{
        width:130px;
        height:50px;
        font-size:12px;
    }
    .navbar .navigation-button .navigation-button-a{
        width:70px;
        height:50px;
    }
      .main-section-start{    
        width:1000px;
        height: 5368px;
        outline-offset:30px;
        margin-top:135px;
        margin-bottom:40px;
        /* overflow-y: scroll; */
    }
    

    
      .contact-section{
        width:1000px;
        height:1202px;
        background-color:#000;
   }
   .container-album-images .album-images{
    width:1000px;
}
.container-hill-img-para-section .hill-img-para-section{
    width:1000px;
}
.container-diffrent-web-material .diffrent-web-material{
    width:1000px;
    height:310px;
    background-color: rgba(22, 157, 60, 0.8);
}
.container-diffrent-web-material .diffrent-web-material div{
    padding-left: 50px;
}
.container-diffrent-web-material .diffrent-web-material div img{
    padding:0 40px;
}
.video-nature-video{
    width:1000px;
    height:924px;
}
.women-image{
    width:1000px;
    height:518px;
    background-image:url('./image.png/background\ nature\ image.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items:center;
}
.container-details-offers .details-offers{
    width:1000px;
}
.container-final-call-action{
    width:1000px;
}


      
}





@media (max-width:1065px){
    .main-section-start{
        border:1px solid hsla(120, 100%, 25%, 0.295);
        width: 900px;
        height: 5368px;
        outline:1px solid hsla(120, 100%, 25%, 0.295);
        outline-offset:20px;
        margin-top:25px;
        margin-bottom:40px;
    }
    .contact-section{
      width:900px;
      height:1202px;
      background-color:#000;
 }
 .multiple-contact-section img{
    width:350px;
    height:500px;
}
.multiple-contact-section {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:900px;
    height:600px;
}
 .container-album-images .album-images{
  width:900px;
}
.container-album-images .album-images .small-images-part img{
    padding:10px 80px;
}
.container-album-images .album-images .small-images-part{
    width:30%;
    height:290px;
    background-color:white;
}
.container-hill-img-para-section .hill-img-para-section{
  width:900px;
}
.container-diffrent-web-material .diffrent-web-material{
  width:900px;
  height:310px;
  background-color: rgba(22, 157, 60, 0.8);
}
.container-diffrent-web-material .diffrent-web-material div{
  padding-left: 50px;
}
.container-diffrent-web-material .diffrent-web-material div img{
  padding:0 30px;
}
.video-nature-video{
  width:900px;
  height:924px;
}
.women-image{
  width:900px;
  height:518px;
  background-image:url('./image.png/background\ nature\ image.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items:center;
}
.container-details-offers .details-offers{
  width:900px;
}
.container-final-call-action{
  width:900px;
}
.footer{
    width:900px;
    height:85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
}






@media (max-width:950px){
    .main-section-start{
        border:none;
        width: 768px;
        height: 5000px;
        outline:none;
        outline-offset:0;
        margin-top:5px;
        margin-bottom:40px;
    }
    .contact-section{
      width:768px;
      height:1050px;
      background-color:#000;
 }
 .multiple-contact-section img{
    width:300px;
    height:400px;
}
.contact-section h1{
    width:600px;
    font-size:60px;
    color: rgb(255, 255, 255);
    font-weight:600;
    text-align:center;
    margin-top: 20px;
}
.container-multiple-contact-section p{
    color: rgb(255, 255, 255);
    font-size:24px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-weight:400;
    width:600px;
    height:90px;
}

.container-multiple-contact-section .multiple-contact-section .form-section form input ,select{
    width:200px;
    height:25px;
    margin-bottom:20px;
    border:1px solid #dddddd;
    border-radius:10px;
    margin-top:6px;
}
.multiple-contact-section {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:768px;
    height:550px;
}

.multiple-contact-section .form-section button{
    background: rgba(0,192,153,1);
    border:none;
    font-weight:600;
    margin-top:10px;
    cursor:pointer;
    width:200px;
    height:25px;
    border-radius:10px;

}
 .container-album-images .album-images{
  width:768px;
}
.container-album-images .album-images .small-images-part img{
    padding:10px 50px;
}
.container-album-images .album-images .small-images-part{
    width:30%;
    height:305px;
    background-color:white;
}
.container-hill-img-para-section .hill-img-para-section{
  width:768px;
}
.container-diffrent-web-material .diffrent-web-material{
  width:768px;
  height:310px;
  background-color: rgba(22, 157, 60, 0.8);
}
.container-diffrent-web-material .diffrent-web-material div{
  padding-left: 50px;
}
.container-diffrent-web-material .diffrent-web-material div img{
  padding:0 10px;
}
.video-nature-video{
  width:768px;
  height:800px;
}
.video-nature-video div{
    width: 785px;
    height:800px;
}
.video-nature-video div iframe{
    width:600px;
    height:400px;
}
.women-image{
  width:768px;
  height:518px;
  background-image:url('./image.png/background\ nature\ image.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items:center;
}
.container-details-offers .details-offers{
  width:768px;
}
.container-final-call-action{
  width:768px;
}
.footer{
    width:768px;
    height:85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
}





@media (max-width:768px){
    .main-section-start{
        border:none;
        width: 600px;
        height: 5050px;
        outline:none;
        outline-offset:0;
        margin-top:4px;
        margin-bottom:40px;
    }
    .contact-section{
      width:600px;
      height:1050px;
      background-color:#000;
 }
 .multiple-contact-section img{
    width:300px;
    height:400px;
}
.contact-section h1{
    width:600px;
    font-size:60px;
    color: rgb(255, 255, 255);
    font-weight:600;
    text-align:center;
    margin-top: 20px;
}
.container-multiple-contact-section p{
    color: rgb(255, 255, 255);
    font-size:24px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-weight:400;
    width:600px;
    height:90px;
}

.container-multiple-contact-section .multiple-contact-section .form-section form input ,select{
    width:200px;
    height:25px;
    margin-bottom:20px;
    border:1px solid #dddddd;
    border-radius:10px;
    margin-top:6px;
}
.multiple-contact-section {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:600px;
    height:550px;
}

.multiple-contact-section .form-section button{
    background: rgba(0,192,153,1);
    border:none;
    font-weight:600;
    margin-top:10px;
    cursor:pointer;
    width:200px;
    height:25px;
    border-radius:10px;

}
 .container-album-images .album-images{
  width:600px;
}
.container-album-images .album-images .small-images-part img{
    padding:10px px;
}
.container-album-images .album-images .small-images-part{
    width:30%;
    height:290px;
    background-color:white;
}
.container-album-images .album-images .small-images-part p{
    font-size:14px;
}
.container-hill-img-para-section .hill-img-para-section{
  width:600px;
}
.container-hill-img-para-section .hill-img-para-section .hill-image-section img{
    width:300px;
    height:350px;
}
.hill-img-para-section .hill-paragraph-section p{
    padding-bottom:20px;
    font-size: 15px;
    font-weight:100;
}

.hill-img-para-section .hill-paragraph-section h3{
    font-size:20px;
    text-align:center;
    padding-top:60px;
    padding-bottom:20px;
    word-spacing:15px;
}
 
.container-diffrent-web-material .diffrent-web-material{
  width:600px;
  height:310px;
  background-color: rgba(22, 157, 60, 0.8);
}
.container-diffrent-web-material .diffrent-web-material div{
  padding-left: 20px;
}
.container-diffrent-web-material .diffrent-web-material div img{
  padding:0 10px;
}
.container-diffrent-web-material .diffrent-web-material div img{
    width:140px;
    height:auto;
}
.video-nature-video{
  width:600px;
  height:800px;
}
.video-nature-video div iframe{
    width:400px;
    height:400px;
}
.video-nature-video div{
    width: 600px;
    height:800px;
}
.women-image{
  width:600px;
  height:518px;
  background-image:url('./image.png/background\ nature\ image.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items:center;
}
.container-details-offers .details-offers{
  width:600px;
}
.container-final-call-action{
  width:600px;
}
.footer{
    width:600px;
    height:85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
} 








@media (max-width:600px){
    .main-section-start{
        border:none;
        width: 375px;
        height: 5050px;
        outline:none;
        outline-offset:0;
        margin-top:4px;
        margin-bottom:40px;
    }
    .contact-section{
      width:375px;
      height:1350px;
      background-color:#000;
 }
 .multiple-contact-section img{
    width:350px;
    height:420px;
    padding-left:10px;
}
.contact-section h1{
    width:300px;
    font-size:35px;
    color: rgb(255, 255, 255);
    font-weight:600;
    text-align:center;
    margin-top: 20px;
}
.container-multiple-contact-section p{
    color: rgb(255, 255, 255);
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-weight:400;
    width:285px;
    height:180px;
    margin-top:50px;
}
.container-multiple-contact-section  .multiple-contact-section {
    display:block;
    width:375px;
    height:850px;
}

.container-multiple-contact-section .multiple-contact-section .form-section form input ,select{
    width:270px;
    height:35px;
    margin-bottom:20px;
    border:1px solid #dddddd;
    border-radius:10px;
    margin-top:6px;
}

.container-multiple-contact-section .multiple-contact-section .form-section form{
    padding:20px 50px;
}
.multiple-contact-section {
    width:375px;
    height:700px;
}

.multiple-contact-section .form-section button{
    background: rgba(0,192,153,1);
    border:none;
    font-weight:600;
    margin-top:10px;
    cursor:pointer;
    width:270px;
    height:35px;
    border-radius:10px;

}

 .container-album-images .album-images{
  width:375px;
  height:900px;
  display:block;
}
.container-album-images .album-images .small-images-part img{
    padding:15px 70px;
}
.container-album-images .album-images .small-images-part{
    width:250px;
    height:300px;
    background-color:white;
    margin-left:60px;
    border-bottom:4px solid rgba(213,234,229,255);
}
.container-hill-img-para-section .hill-img-para-section{
  width:375px;
  height:800px;
  display:flex;
  flex-direction:column-reverse;
}
.container-hill-img-para-section .hill-img-para-section .hill-image-section img{
    width:250px;
    height:300px;
    margin-left:30px;
}


.hill-img-para-section .hill-paragraph-section p{
    padding-bottom:20px;
    font-size: 15px;
    font-weight:100;
    width:300px;
}

.hill-img-para-section .hill-paragraph-section{
    margin-right:140px;
    height:400px;
}

.hill-img-para-section .hill-paragraph-section h3{
    font-size:25px;
    text-align:center;
    padding-top:60px;
    padding-bottom:20px;
    word-spacing:15px;
    width:300px;
}
 
.container-diffrent-web-material .diffrent-web-material{
  width:375px;
  height:500px;
  background-color: rgba(22, 157, 60, 0.8);
}
.container-diffrent-web-material .diffrent-web-material div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  padding-top:20px;
  padding-right:25px;
}
.container-diffrent-web-material .diffrent-web-material div img{
  padding-top:10px;
  width:140px;
  height:auto;
  padding-bottom:40px;
}

.container-diffrent-web-material .diffrent-web-material p{
   font-size:25px;
   font-weight:400;
}


.video-nature-video{
  width:375px;
  height:600px;
}
.video-nature-video div iframe{
    width:300px;
    height:250px;
} 
.video-nature-video .sortpga{
    font-size:25px;

}
.video-nature-video div{
    width: 300px;
    height:600px;
}
.women-image{
  width:375px;
  height:450px;
  background-image:url('./image.png/background\ nature\ image.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items:center;
}
.women-image div .real-name-paragraph{
    font-size:20px;
}
.women-image div{
    width:300px; 
    height:300px;
    text-align:center;
}

.container-details-offers .details-offers{
  width:375px;
  height:600px;
}

.container-details-offers .details-offers .detaila-offers-child{
    width:300px;
    height:500px;
    padding-top:none;
}

.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph .more-details-paragraph{
    font-size:25px;
}
.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph span{
    font-size:18px;
}

.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph p{
    font-size:15px;
}

.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph img{
    width:30px;
    height:30px;
}
.container-details-offers .details-offers .detaila-offers-child .detail-offers-child-image-ph .more-details-paragraph{
    text-align:center;
    padding:20px 10px;
}
.container-final-call-action{
    width:375px;
    height:400px;
  }
  .container-final-call-action .final-call-action{
    width:300px;
    height:350px;
}
.container-final-call-action .final-call-action h5{
    font-size:30px;
    font-weight:600;
    word-spacing:5px;
    padding-bottom:35px;
    padding-top:5px;
}

.container-final-call-action .final-call-action p {
    font-size:14px;
    padding-bottom:35px;
}
.container-final-call-action .final-call-action button {
    padding:10px 40px;
    text-decoration:none;
    color:white;
    background-color:rgba(0, 138, 63, 1);
    border:none;
    border-radius:10px;
}

.container-final-call-action .final-call-action button a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-weight:600;
    font-size:14px;
}

.footer{
    width:375px;
    height:85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer img{
    width:90px;
    height:auto;
}
.footer p{
    font-size:12px;
}
    
} 







@media(max-width:350px){
    .video-nature-video div{
        width: 300px;
        height:450px;
        margin-top:10px;
    }
    .video-nature-video{
        width:375px;
        height:480px;
    }
    
    .video-nature-video .sortpga{
        font-size:25px;
        padding-top:50px;
        padding-bottom:30px;
        word-spacing:2px;
    }
    .video-nature-video .sortpgab{
        font-weight:100;
        padding-bottom:50px;
        font-size:17px;
    }
    
      .video-nature-video div iframe{
          width:250px;
          height:200px;
      } 
      
      .footer img{
        width:70px;
        height:auto;
    }
    .footer p{
        font-size:10px;
    }
}







@media(max-width:1060px){
    .mobile-navbar-btn{
        display:block;
        z-index: 999;
        border:3px solid #212529;
        color:#212529;
    }
    .header{
        position:relative;
    }
    .header .logo{
        width:140px;
    }
    .navbar{
        width:100%;
        height:100vh;
        background:rgba(14,115,169,255);
        position:absolute;
        top:0;
        left:0;
        display:flex;
        justify-content:center;
        align-items:center;

        /* to get transition  */
        transform:translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility:hidden;
        pointer-events: none;
    }


    .navbar-list{
        flex-direction: column;
        align-items: center;
    }


    .active .navbar{
        transform:translateX(0);
        opacity:1;
        visibility:visible;
        pointer-events:auto;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display:block;
    }
    .active 
    .mobile-navbar-btn 
    .mobile-nav-icon[name="menu-outline"]{
        display:none;
    }

  
}





@media(max-width:1500px){
    .navbar-list{
        padding-right:250px;
    }

    .navbar-list  .navbar-link {
        font-size:17px;
    }

}

@media(max-width:350px){
    .navbar-list{
        padding-right:250px;
    }


    .navbar-list  .navbar-link {
        padding-left:50px;
    }

    .navigation-button{
        padding-left:1px;
    }
    .navbar .navigation-button-a{
        margin-left:2px;
    }

}